<ion-content>
  <h2 text-center>Create Tasks for {{day.day}}</h2>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col size="8">
                <ion-item>
                    <ion-label position="floating">Task name</ion-label>
                    <ion-input [(ngModel)]="task" ></ion-input>
                </ion-item>
                <ion-button expand="block" (click)="addTask()" >
                    Create
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>