h3 {
    color: var(--ion-color-medium);
    font-weight: 400;
}

h4 {
    color: var(--ion-color-medium);
    font-weight: 400;
}

.role-card {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    max-width: 700px !important;
    margin: 0 !important;
}