h3 {
    color: var(--ion-color-medium);
    font-weight: 400;
}

h4 {
    color: var(--ion-color-medium);
    font-weight: 400;
}

.role-card {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    max-width: 700px !important;
    margin: 0 !important;
}

ion-icon[slot=icon-only] {
    font-size: 40px;
}

.slide_changer {
    height: 95%;
    width: 100%;
}

ion-icon[name=more]{
    transform: rotate(90deg);
    font-size: 26px;
    cursor: pointer;
}
