<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>{{day.toLocaleUpperCase()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3>{{"Select the tasks for "+ day.toLocaleLowerCase()}}</h3>
    <ion-slides #slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let role of roles" >
        <ion-card class="role-card">
          <ion-card-title>
            <h1>{{role}}</h1>
          </ion-card-title>
          <ion-card-content>
            Selected {{role}}
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-button (click)="slidePrev()" float-left><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    <ion-button (click)="slideNext()" float-right><ion-icon name="arrow-round-forward"></ion-icon></ion-button>
    <ion-grid margin-top>
      <ion-row justify-content-center>
        <ion-col size="12" size-lg="5" size-md="5">
          <h4>Un-Assigned Tasks</h4>
          <ion-item *ngFor="let task of tasks" color="light" margin-bottom>
            <ion-label>{{task}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-lg="5" size-md="5" offset="0" offset-lg="1" offset-md="1">
          <h4>Assigned Tasks</h4>
          <ion-item *ngFor="let task of tasks" color="light" margin-bottom>
            <ion-label>{{task}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
