ion-label {
    width: 100%;
}

ion-label:after {
  content: "";
  display: block;
  // padding-bottom: 75%;
}

ion-col {
    opacity: .75;
}

.tick {
  position: absolute;
  margin-top: 65%;
}

ul {
  list-style: none;
}

.done li:before {
  content: '✓ ';
}

.undone li:before {
  content: '• ';
}