<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Dona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>
            From: {{from.getDate() + '/' + (from.getMonth()+1) + '/' + from.getFullYear()}}
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>
            To: {{to.getDate() + '/' + (to.getMonth()+1) + '/' + to.getFullYear()}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let card of cards">
        <ion-item color="{{card.color}}" (click)="gotoDay(card.day)" style="display: flex; align-items: center;">
          <ion-label class="card-text" text-center>
            {{card.day}}
          </ion-label>
          <ion-icon class="tick" name="checkmark" *ngIf="!card.active"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>