.card-text {
    width: 100%;
    margin-top: 40%;
}

.card-text:after {
  content: "";
  display: block;
  padding-bottom: 38%;
}

.tick {
  position: absolute;
  width: 55%;
  height: 55%;
  top: 50%;
  left: 50%;
  opacity: .25;
}

.triangle {
  background: transparent;
  border:18px solid white;
  width: 0px;
  height:0px;
  border-left:18px solid  transparent;
  border-bottom:18px solid  transparent;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 25;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
